.disabled {
    background-color: dimgrey;
    border-color: dimgrey;
    cursor: initial;
}

.error_field {
    text-align: center;
    color: red;
}

.response_field {
    text-align: center;
    color: green;
}

.app_link {
    background-color: transparent;
    border: solid black 2px;
    padding: 1vh 3vw;
    text-decoration: none;
    color: black;
    border-radius: 25px;
    transition-duration: 0.4s;
}

.app_link:hover {
    border-color: dimgrey;
    background-color: dimgrey;
    color: white;
    cursor: pointer;
}

#disconnect_button {
    border-color: darkred;
    color: darkred;
}

#disconnect_button:hover {
    border-color: darkred;
    background-color: darkred;
}

nav {
    border: solid dimgrey 2px;
    padding: 1vh 3vw;
    border-radius: 10px;
}

ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
}

nav li:last-child {
    float: right;
}

main {
    display: flex;
    flex-wrap: nowrap;
    margin: 1vh 0;
    padding: 1vh 3vw;
}